{% include "head" %}
<body>
	{% include "navbar" %}
	<div class="container">

		<h1 id="content" class="bd-title">Nodelist</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Hostname</th>
					<th scope="col">Status</th>
					<th scope="col">last response</th>
					<th scope="col">Address</th>
				</tr>
			</thead>
			{% for node in nodes %}
			<tr>
				<th><a href="/node/{{ node.nodeid }}">{{ node.last_response.nodeinfo.hostname }}</a></th>
				<th>
					{% if node.status == "Up" %}
					<span class="badge bg-success">Up</span>
					{% else %}
					<span class="badge bg-danger">Down</span>
					{% endif %}
				</th>
				<th>{{ node.last_seen_secs }}s ago</th>
				<th><a href="http://[{{ node.last_address }}]">{{ node.last_address }}</a></th>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
